html,
body {
  @apply bg-colors-bgColor text-colors-textPrimaryColor font-font;
  scrollbar-width: none;
}
.border-gradient {
  
  border-width: 4px;
  border-style: solid;
  border-image-source: linear-gradient(90.38deg, #696969 28.1%, #ffffff 100%);
  border-image-slice: 1;
  border-radius: 10%:
}
.effect-custom {
  @apply overflow-hidden;
  span {
    @apply flex items-center;
    z-index: 1;
    &:nth-child(2) {
      display: none;
    }
  }
}

.effect-custom::before {
  @apply flex items-center justify-center absolute -right-full w-full h-full rounded-lg;
  content: "";
  transition: all 0.4s;
  &.effect-custom-default {
    @apply bg-colors-bgColor;
  }
  &.effect-custom-outline {
    @apply bg-colors-primary rounded-none border-2 border-colors-primary;
  }
}
.effect-custom:hover {
  span:nth-child(2) {
    @apply ml-2;
    display: flex;
  }
  &.effect-custom-outline {
    @apply text-colors-bgColor;
  }
  &.effect-custom-default {
    @apply text-colors-primary;
  }
}
.effect-custom:hover::before {
  @apply right-0;
}
.activeProduct {
  @apply bg-colors-primary;
}

.transition-opacity {
  transition: opacity 1s ease-in-out;
}
