@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@100;200;300;400;500:600;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./base.scss";
@import "./resert.scss";

@layer base {
  ::-webkit-scrollbar-button {
    display: none; /* Ẩn nút cuộn */
  }

  ::-webkit-scrollbar {
    position: relative;
    display: block;
    left: 200px;
    margin-left: 200px;
    width: 8px; /* Chiều rộng thanh cuộn */
    height: 8px; /* Chiều cao thanh cuộn */
  }
  ::-webkit-scrollbar-track {
    margin-block: 200px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8e8e97; /* Màu cho thanh cuộn */
  }
}
