@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@100;200;300;400;500:600;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./base.scss";
@import "./resert.scss";

@layer base {
  ::-webkit-scrollbar-button {
    display: none; /* Ẩn nút cuộn */
  }

  ::-webkit-scrollbar {
    width: 8px; /* Chiều rộng thanh cuộn */
    height: 8px; /* Chiều cao thanh cuộn */
  }

  ::-webkit-scrollbar {
    background: #181818;
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    padding: 0 4px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    background: #909090;
    background-clip: padding-box;
    border-radius: 100px;
    &:hover {
      background: #606060;
    }
  }
}
